ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

li {
    display: inline;
}

a {
    text-decoration: none;
    font-family: BrandonGrotesqueWeb-Thin,sans-serif;
}

body a {
    color: white;
    font-weight: bolder;
}

body {
    background-color:#2b2d42;
    font-family: BrandonGrotesqueWeb-Thin,sans-serif;
}

.abtMeDiv {
    color: white;
    margin-left: 15vw;
    margin-right: 15vw;
    padding: 2.2vw;
    padding-top: 1vh;
    margin-bottom: 5vh;
}

.abtMeTxt {
    float: left;
    max-width: 30vw;
    background-color: #5B7E8D;
    border-radius: 4px;
    padding:3%;
    animation-name: slideUp;
    animation-duration: 1s;
}

@keyframes erimcg {
    0%{
        clip-path: inset(0 0 0 100%);
        opacity: 0;
    }
    85%{
        clip-path: inset(0 0 0 0);
    }
    100%{
        clip-path: inset(0 0 0 0);
        opacity: 1;
    }
}

.titleHR {
    border-top: 2px solid #ddb892;
    border-bottom: 0px;
    animation-name: example;
    animation-duration: 2.4s;
}

@keyframes example {
    0%{
        max-width:1vw;
    }
    60%{
        max-width:75vw;
    }
    85%{
        max-width: 95vw;
    }
    100%{
        max-width: 100vw;
    }
}

.beachHR {
    border-top: 2px solid #ddb892;
    border-bottom: 0px;
}

@keyframes slideInLeft {
    0%{
        clip-path: inset(0 100% 0 0);
        opacity: 0;
    }
    85%{
        clip-path: inset(0 0 0 0);
    }
    100%{
        clip-path: inset(0 0 0 0);
        opacity: 1;
    }
}

.beachTxt {
    padding-top: 7vh;
}

@keyframes slide {
    0% {
      clip-path: inset(0 100% 0 0);
      opacity:0;
    }
    100% {
      clip-path: inset(0 0 0 0);
      opacity: 1;
    }
  }

.beach {
    max-width: 100%;
    max-height: 100%;
    transform: scale(1);
    transition: transform 0.3s ease;
    border-radius: 0.25vw;
    box-shadow: 5px 5px 5px #1d2711;
}

.img {
    border-radius: 4px;
}

.beach:hover {
    transform: scale(1.02 );
    border-radius: 0.3vw;
    filter: contrast(1.1);
}

.imgPfp {
    max-height:5vh;
    max-width: 5vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 4px;
}

nav {
    position: relative;
    padding: 6vh;
    margin-top: 2vh;
    margin-left: 15vw;
    margin-right: 15vw;
}

.navLink {
    transform: scale(1);
    transition: transform 0.2s ease;
    color: #ddb892;
    float: left;
    margin-right: 6vw;
}

nav a:hover {
    transform: scale(1.1);
    color: #e6ccb2;
}

.imgInsta {
    max-height:2vh;
    max-width: 2vw;
    float: right;
    position: relative;
    transform: scale(1.6);
    transition: transform 0.2s ease;
}

.imgInsta:hover {
    transform: scale(1.8);
}

.outsideMap{
    padding-left: 5vw;
    padding-bottom: 5vh;
    float: right;
    max-width: 25vw;
    animation-name: slideUp;
    animation-duration: 1s;
}

.allProjects{
    display: flex;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-bottom: 1vh;
    flex-wrap: wrap;
    line-height: 140%;
}

.proj1{
    margin-right: 1vw;
    margin-top: 2vh;
    margin-left: 1vw;
    max-width: 25%;
    max-height: 100em;
    background-color: #5B7E8D;
    border-radius: 4px;
    padding: 1.5em;
    box-shadow: 5px 5px 5px #1b2410;
    animation-name: slideUp;
    animation-duration: 0.8s;
}

.proj2{
    max-width: 25%;
    margin-right: 1vw;
    margin-top: 2vh;
    margin-left: 1vw;
    background-color: #5B7E8D;
    border-radius: 4px;
    padding: 1.5em;
    box-shadow: 5px 5px 5px #1b2410;
    animation-name: slideUp;
    animation-duration: 1.0s;
}

.proj3{
    max-width: 25%;
    margin-top: 2vh;
    margin-right: 1vw;
    margin-left: 1vw;
    background-color: #5B7E8D;
    border-radius: 4px;
    padding: 1.5em;
    box-shadow: 5px 5px 5px #1b2410;
    animation-name: slideUp;
    animation-duration: 1.2s;
}

@keyframes slideUp {
    from {
        transform: translateY(150%);
    }
    to {
        transform: translateY(0);
    }
}

.projectsTxtDiv {
    color: white;
    margin-left: 15vw;
    margin-right: 15vw;
}

.projectsHR {
    border-top: 2px solid #ddb892;
    border-bottom: 0px;
}

.abtMeHr {
    margin-left: 15vw;
    margin-right: 15vw;
}

.projectsImgDiv {
    padding-bottom: 1vh;
    background-color: white;
    min-height: 15rem;
    margin-bottom: 2rem;
    box-shadow: 5px 5px 5px #3c545e;
    border-radius: 4px;
    transform: scale(1);
    transition: transform 0.3s ease;
}

.projectsImgDiv:hover {
    transform: scale(1.05);
    border-radius: 5px;
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 99999;
}

.popup-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 95%;
    max-height: 95%;
    border-radius: 5px;
}

@media only screen and (max-width:600px) {
    .allProjects {
        animation: slideIn 1s;
    }
    .proj1 {
        max-width: 100rem;
    }
    .proj2 {
        max-width: 100rem;
    }
    .proj3 {
        max-width: 100rem;
    }
    .abtMeTxt{
        max-width: 100rem;
    }
    .outsideMap {
        max-width: 100vw;
    }
    .abtLink {
        float: right;
    }
    .abtMeTxt {
        margin-bottom: 10%;
        animation: slideIn 1s ease 1;    
    }
    .abtMeDiv {
        animation: slideIn 1s ease 1;
    }
    .imgInsta {
        
    }

@keyframes slideIn {
    0% {
        transform: translateY(150%);
    }
    100% {
        transform: translateY(0);
    }
    }


@media only screen and (max-width:1080px) {
    .abtMeTxt {
        padding-left: 6%;
        padding-right: 6%;
    }
}
