* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    --font: Arial Rounded MT Bold; 
    --fsDef: 14rem;
}
/* Color themes*/

.light {
    --bckg: #ddb892;
    --txtColor: black;
    --txtActive:#6f5c4a;
}

.dark {
    --bckg: black;
    --txtColor: #ddb892;
    --txtActive:#ffd4a9;
}

/* General styling for theme */

body {
    background-color: var(--txtColor);
    transition: background-color 0.7s, color 0.3s;
    scroll-behavior: smooth;
}

.scrollBox, #firstPart, #secondPart {
    background-color: var(--txtColor);
    color: var(--bckg);
    text-transform: uppercase;
}

/* Style text opening and closing on click */

.name-section {
    display: grid;
    grid-template-rows: auto;
    align-items: center;

    /* Animations */
    animation-name: ease-from-left;
    animation-duration: 1.2s;
    animation-timing-function: ease;
}

.outer-div{
    display: grid;
    grid-template-columns: auto 1fr;
    min-height: 100dvh;
    max-width: 100%;
    
    scrollbar-width: 0px;
    -webkit-scrollbar-width: 0px;
}

.left-section {
    display: grid;
    align-content: center;
    grid-template-columns: auto;
    background-color: var(--bckg);
    padding-inline-start: 3em;
    padding-inline-end: 12em;
}

.page-section { 
    display: grid;
    align-content: center;
    height: 100dvh;
}

.right-section {
    display: grid;
    align-content: center;
    background-color: var(--txtColor);
    position:sticky;
    height: 100dvh;
    right: 0px;
    top: 0px;
}

.Paul, .Bauer {
    color: var(--txtColor);
    font-size: var(--fsDef);
    font-family: var(--font);
    font-weight: bolder;
    text-transform: uppercase;

    display: grid;
    justify-content: start;
    align-content: center;
}

.navMenu {
    /* Formatting */
    display: grid;
    justify-items: self-end;
    grid-template-rows: auto;
    gap: 6.5em;
    padding-inline-end: 3em;
    padding-inline-start: 6em;

    /* Styling */
    text-transform: uppercase;
    font-family: var(--font);

    animation-name: ease-from-right;
    animation-duration: 1.2s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

.navLink {
    display: flex;
    align-content: center;
    align-self: center;
    cursor: pointer;
}

.navLinkInner.active{
    animation-name:activeOn;
    animation-duration: .2s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

@keyframes activeOn {
    0% {
        color: var(--bckg);
    }
    100% {
        color: var(--txtActive);
    }
}

.navLinkInner:hover{
    transform: scale(1.02);
}

.navLinkInner{
    transform: scale(1);
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transform-origin: bottom right;
    color: var(--bckg);
    text-decoration: none;
    font-size: 3rem;
}

.blob-container {
    height: 100%;
    background-color: var(--txtColor);
    border-radius: 5px;
}

/* End on-scroll styling and animations */

.scrollBox {
    animation-timing-function: ease;
    position: relative;
    overflow: hidden;
    z-index: 1;
    border-radius: 15px;
    max-width: 700px;   
    height: 50%;
}

.m-scroll {
    overflow: hidden;
    white-space: nowrap;
    animation: scrollText 25s infinite linear 1s;
    display: inline-block;
    height: 100%;
}

.scrollTxt {
    font-size: 2.5rem;
    display: grid;
    font-family: var(--font);
    height: 100%;
}

@keyframes scrollText {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-50%);
    }
}

/* Intro animations */

@keyframes ease-from-right {
    0% {
        transform: translateX(200%);
        opacity: 0;
    }
    50% {
        opacity: 40%;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes ease-from-left {
    0%{
        transform: translateX(-200%);
        opacity: 0;
        visibility: visible;
    }
    50% {
        opacity: 40%;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@media (max-width:500px) {
    :root {
        --fsDef: 5rem;
    }
    
    .scrollTxt {
        font-size: 1.5rem;
    }
}