.abtm {
    float: right;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

a {
    text-decoration: none;
}

.navbar {
    padding: 6vh;
}

.active {
    color: aqua;
}

body {
    background-color: rgb(4, 61, 57);
    font-family: Bedrock;
}

.bodydiv {
    color: white;
    text-decoration: none;
}