* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    --font: Arial Rounded MT Bold; 
    --fsDef: 14rem;
}
/* Color themes*/

.light {
    --bckg: #ddb892;
    --txtColor: black;
    --txtActive:#6f5c4a;
}

.dark {
    --txtActive:#ffd4a9;
    --bckg: black;
    --txtColor: #ddb892;
}

/* General styling for theme */

body {
    background-color: var(--bckg);
    transition: background-color 0.7s, color 0.3s;
    scroll-behavior: smooth;
    scrollbar-width: 0px;
    -wbkit-scrollbar-width:0px;
}

.scrollBox, #firstPart, #secondPart {
    background-color: var(--txtColor);
    color: var(--bckg);
    text-transform: uppercase;
}

.material-symbols-outlined{
    color: var(--bckg);
    font-size: 3em;
}

/* Style text opening and closing on click */

.name-section {
    display: grid;
    grid-template-rows: auto;
    align-items: center;
    padding-inline: 3em;

    /* Animations */
    animation-name: ease-from-left;
    animation-duration: 1.2s;
    animation-timing-function: ease;
}

.content-section {
    display: grid;
    align-content: center;
    grid-template-columns: auto;
    width: calc(100vw - 450px);
}

.page-section { 
    display: grid;
    align-content: center;
    height: 100dvh;
}

.Paul, .Bauer {
    color: var(--txtColor);
    font-size: var(--fsDef);
    font-family: var(--font);
    font-weight: bolder;
    text-transform: uppercase;

    display: grid;
    justify-content: start;
    align-content: center;
}

.nav-menu {
    /* Formatting */
    display: grid;
    justify-items: self-end;
    grid-template-rows: auto;
    gap: 6.5em;

    padding-inline-end: 3em;
    padding-inline-start: 6em;
    padding-block: 9em;

    height: 100dvh;
    width: 450px;
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 2000;
    
    /* Styling */
    background-color: var(--txtColor);
    text-transform: uppercase;
    font-family: var(--font);

    animation-name: ease-from-right;
    animation-duration: 1.2s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

#menu-toggle {
    position: fixed;
    color: transparent;
}

.navLink {
    display: flex;
    align-content: center;
    align-self: center;
    cursor: pointer;
}

.navLinkInner.active{
    animation-name:activeOn;
    animation-duration: .2s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

.navLinkInner.active::before     {
    content: "•";
}

@keyframes activeOn {
    0% {
        color: var(--bckg);
    }
    100% {
        color: var(--txtActive);
    }
}

.navLinkInner:hover{
    transform: scale(1.02);
}

.navLinkInner{
    transform: scale(1);
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transform-origin: bottom right;
    color: var(--bckg);
    text-decoration: none;
    font-size: 3rem;
}

.blob-container {
    min-height: 600px;
    background-color: var(--txtColor);
    border-radius: 5px;
    margin-inline: 3em;
}

/* End on-scroll styling and animations */

.scrollBox {
    animation-timing-function: ease;
    position: relative;
    overflow: hidden;
    z-index: 1;
    border-radius: 15px;
    max-width: 700px;   
    height: 50%;
}

.m-scroll {
    overflow: hidden;
    white-space: nowrap;
    animation: scrollText 25s infinite linear 1s;
    display: inline-block;
    height: 100%;
}

.scrollTxt {
    font-size: 2.5rem;
    display: grid;
    font-family: var(--font);
    height: 100%;
}

@keyframes scrollText {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-50%);
    }
}

/* Intro animations */

@keyframes ease-from-right {
    0% {
        transform: translateX(200%);
        opacity: 0;
    }
    50% {
        opacity: 40%;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes ease-from-left {
    0%{
        transform: translateX(-200%);
        opacity: 0;
        visibility: visible;
    }
    50% {
        opacity: 40%;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@media (max-width:1350px) {
    .content-section {
        width: 100dvw;
    }

    .nav-menu {
        right: -450px;
        transition-duration:400ms;
        transition-timing-function: ease-in-out;
    }

    .nav-menu.menu-open {
        right: 0px;
    }

    .blob-section {
        margin-inline-end: 0px;
    }

    #menu-toggle {
        color: var(--txtColor);
        top: 1em;
        right: 1em;
        z-index: 4000;
        cursor: pointer;
        rotate: 0deg;
        transition:rotate 0.7s cubic-bezier(0.05, 0.3, 0.05, 1);
    }

    #menu-toggle.menu-open {
        color: var(--bckg);
        rotate:90deg;
    }
}
